
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

:root {
  --brand: #FF385C;
  --ink: #222222;
  --muted: #717171;
  --border: #E7E7E7;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--ink);
}
